body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #382424;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-container {
  max-width: 600px;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
}

.header {
  background-color: #dd0000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-buttons button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-buttons button:hover {
  background-color: #ccc;
  color: black;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.auth-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.auth-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.auth-form button:hover {
  background-color: #0056b3;
}

.start-exam-btn {
  padding: 12px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.start-exam-btn:hover {
  background-color: #0056b3;
}

/* SectionSlider styles */
.section-slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.slide img {
  width: 100%;
  height: auto;
}

.slide-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

/* SectionFeatures styles */
.section-features {
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature {
  flex: 1 1 calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgb(255, 255, 255);
  border-radius: 5px;
}

/* SectionTeam styles */
.section-team {
  padding: 20px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-member {
  text-align: center;
  margin: 10px;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
